.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Bar Styles */
.navbar {
  width: 14.28%; /* Approximately 1/7 of the width */
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background: #77502d;
  border-right: 2px solid #ccc;
}

.nav-item {
  width: 100%;
  height: 60px;
  text-align: center;
  background: #0e1e3b;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  color: #ffffff;
}

.nav-item:hover {
  background: #8c5f38;
}

/* Main content area to account for fixed navbar */
.main-content {
  margin-left: 14.28%;
  padding: 20px;
  min-height: 100vh;
}
